<svg xmlns="http://www.w3.org/2000/svg" style="display: none">
  <symbol id="bi-box-arrow-right" viewBox="0 0 16 16">
    <path
      fill-rule="evenodd"
      d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"
    />
    <path
      fill-rule="evenodd"
      d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"
    />
  </symbol>

  <symbol id="bi-person-circle" viewBox="0 0 16 16">
    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
    <path
      fill-rule="evenodd"
      d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
    />
  </symbol>

  <symbol id="check-circle-fill" viewBox="0 0 16 16">
    <path
      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"
    />
  </symbol>
  <symbol id="info-fill" viewBox="0 0 16 16">
    <path
      d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"
    />
  </symbol>
  <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
    <path
      d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
    />
  </symbol>

  <symbol id="bi-globe-americas" viewBox="0 0 16 16">
    <path
      d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0ZM2.04 4.326c.325 1.329 2.532 2.54 3.717 3.19.48.263.793.434.743.484-.08.08-.162.158-.242.234-.416.396-.787.749-.758 1.266.035.634.618.824 1.214 1.017.577.188 1.168.38 1.286.983.082.417-.075.988-.22 1.52-.215.782-.406 1.48.22 1.48 1.5-.5 3.798-3.186 4-5 .138-1.243-2-2-3.5-2.5-.478-.16-.755.081-.99.284-.172.15-.322.279-.51.216-.445-.148-2.5-2-1.5-2.5.78-.39.952-.171 1.227.182.078.099.163.208.273.318.609.304.662-.132.723-.633.039-.322.081-.671.277-.867.434-.434 1.265-.791 2.028-1.12.712-.306 1.365-.587 1.579-.88A7 7 0 1 1 2.04 4.327Z"
    />
  </symbol>

  <symbol id="bi-trash3" viewBox="0 0 16 16">
    <path
      d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"
    />
  </symbol>

  <symbol id="paw" viewBox="0 0 119.72 122.88">
    <g>
      <path
        d="M40.06,0.37c9.4,0,17.03,11.69,17.03,26.1s-7.63,26.1-17.03,26.1c-9.4,0-17.03-11.68-17.03-26.1 C23.04,12.06,30.66,0.37,40.06,0.37L40.06,0.37z M61.71,63.55c19.94,0.04,22.42,13.25,39.23,35.86 c8.38,16.45-2.5,26.82-21.15,22.38c-8.46-4.31-14.41-5.83-20.38-5.63c-10.34,0.36-12.95,7.18-24.98,6.7 c-9.28-0.25-13.46-4.14-14.27-10.07c-0.87-6.3,1.56-10.28,4.52-15.49C36.18,77.02,48.07,61.01,61.71,63.55L61.71,63.55L61.71,63.55 z M7.17,39.08C0.14,41.86-2.1,52.85,2.16,63.62C6.42,74.39,15.57,80.87,22.6,78.09c7.03-2.78,9.27-13.77,5.01-24.54 C23.35,42.78,14.2,36.3,7.17,39.08L7.17,39.08z M112.55,39.08c7.03,2.78,9.27,13.77,5.01,24.54 c-4.26,10.77-13.42,17.25-20.44,14.47c-7.03-2.78-9.27-13.77-5.01-24.54C96.37,42.78,105.52,36.3,112.55,39.08L112.55,39.08z M79.35,0c9.4,0,17.03,11.69,17.03,26.1s-7.63,26.1-17.03,26.1c-9.4,0-17.03-11.68-17.03-26.1C62.33,11.69,69.95,0,79.35,0L79.35,0 z"
      />
    </g>
  </symbol>

  <symbol id="animal-shelters-icon.png" viewBox="0 0 475.45 444.57">
    <path
      d="M482.81,500.52l-24.3,5.56c-1.95.45-3.89,1-5.86,1.28-4,.63-7-.65-8.16-4.73-1.09-3.77.93-7.16,5.23-8.26,9-2.3,18.11-4.61,27.27-6.35,4.69-.89,6.63-2.81,6.18-7.62a81.59,81.59,0,0,1,0-11.49c.17-3.39-1.2-4.76-4.57-5-9.48-.61-19-1.33-28.41-2.27-5.67-.57-8.77-5.81-5.65-9.84a10,10,0,0,1,7.18-3.16c8.49.17,17,.83,25.43,1.75,4.66.51,5.85-.92,6.13-5.59,1.11-18.44,2.34-36.89,4.43-55.23.81-7.16,3.57-14.21,6.21-21s8-7.71,13.3-2.5c9.35,9.26,18.65,18.59,27.8,28.07,2.66,2.75,4.87,3.54,8.66,1.88,23.34-10.23,46.83-10.83,70.21-.06,3,1.38,4.74.71,6.88-1.59,9.88-10.61,20-21,29.91-31.58,3.63-3.91,7.42-4.62,12.05-2.22,4.29,2.23,8.79,4.09,12.9,6.6,3.28,2,5.24,1.79,8-1.17,16.64-18.13,36.07-32.13,60.14-38.7,40.39-11,76.19,3.57,97.49,39.7,3.12,5.3,5.59,11,8.33,16.49.82,1.64,1.49,3.36,2.32,5,8.44,16.64,16.76,21.17,35.41,19.27,3.81-.38,7.6-1,11.41-1.4,10.29-1.15,18.22,3.84,19.51,14.08a66.56,66.56,0,0,1-1,23.17,82.33,82.33,0,0,1-21.07,38.08c-2,2.07-3.48,3.56-.92,6.62,8.27,9.86,8.34,20,.66,27.19-8,7.47-22.64,7.13-31.2-.57-3-2.65-5.94-5.56-9.44-7.2a26.32,26.32,0,0,0-11.42-2.45c-29,.71-51.46-10.29-65.89-36.09a21.53,21.53,0,0,1-1.67-3.62c-1.23-3.68-.22-6.76,3.27-8.43,3.76-1.8,6.72-.3,8.92,3.09,3,4.59,5.7,9.4,9.15,13.61a45.73,45.73,0,0,0,26,15.83c35.33,7.89,62.09-7.56,76.52-37.59,1.43-3,.5-4.19-2.42-5-11.85-3.13-19.29-11.21-24.58-21.83-.94-1.89-2.7-4.21-4.51-4.7-14.72-3.91-22.89-14.35-29.37-27.26-5.36-10.67-10.63-21.75-18.07-30.92-18.92-23.36-44-30.13-72.73-22.47-22.77,6.07-41,19.48-57,37.43,3.26,2.9,6.44,5.5,9.37,8.36,32.24,31.4,46.67,69.09,39.69,114.09a73.62,73.62,0,0,1-14.24,33.24c-16.35,21.72-43.69,23.52-63.1,4.3-12.45-12.32-18.33-27.76-20.48-44.62-4.93-38.66,4.69-74,25.28-106.74,1.25-2,5.05-4,1.49-7.07-5.73-5-10.15-5.51-13.7-1.79-9.9,10.36-19.85,20.68-29.62,31.17-3.56,3.82-7.15,4.93-12,2.42-23.12-12.11-46.35-11.52-69.76-.67-8.5,3.94-9,3.57-15.61-3.07q-10.54-10.65-21.15-21.27c-1.11-1.12-2.37-2.11-4.49-4-1.17,4.83-2.62,8.58-2.92,12.41-1.44,17.75-2.53,35.53-3.8,53.3-.23,3.25,1.26,4.39,4.37,4.51,4.32.18,8.64.66,13,1.13s6.89,2.91,6.56,7.26-3.24,6.4-7.57,6.17c-4-.21-8-.46-12-.89-2.93-.32-4.41.58-4.33,3.73.11,4.42,0,8.84,0,13.93l14.06-3.15a35.59,35.59,0,0,1,3.9-.82c4.05-.42,7,1.19,7.73,5.32.7,3.84-1.23,6.5-5,7.48-5.48,1.44-11,2.8-16.54,3.91-3,.59-4.23,1.9-4.22,5q.11,39.51,0,79c0,3.53,1.34,4.64,4.74,4.56,8-.17,16,0,24,0h354c7.8,0,7.8,0,7.81-8V546.07c0-1.33,0-2.67.06-4,.32-4.74,3-7.76,7-7.49,4.44.3,6.53,3.13,6.56,7.35.08,16.17.11,32.34,0,48.51,0,4.9-2.58,7.24-7.56,7.41-4.66.16-9.34,0-14,0H494.42c-9.94,0-11.31-1.35-11.31-11.21q0-39.76,0-79.52C483.09,505.21,482.93,503.27,482.81,500.52Zm246.05-15c0-39.11-14.63-70.35-41-93.37-4.78-4.18-5.06-4.09-8.57,1.25a150.08,150.08,0,0,0-24.52,74.16c-1.2,19.48,1.29,38.43,13.17,54.8,15.08,20.79,37.45,19.79,50.77-2.16A72,72,0,0,0,728.86,485.47Zm158.76-64-.92,1.75c3,2.84,5.78,6.16,9.23,8.37,2.42,1.55,5.8,1.58,8.76,2.28.23-3.06.79-6.14.62-9.17-.17-2.78-1.43-5.33-5-4.95C896.09,420.18,891.86,420.86,887.62,421.45ZM868.77,500.7c3.81,2.63,6.44,5.49,9.57,6.26a9.87,9.87,0,0,0,8.2-2.38c1-1.1-.51-5.34-1.78-7.69-1.94-3.6-4.92-2.22-7.68-.62C874.83,497.58,872.49,498.73,868.77,500.7Z"
      transform="translate(-443.27 -153.36)"
    />
    <path
      d="M900.56,340q0,24.51,0,49c0,1.66.48,3.84-.37,4.87-1.73,2.09-4.2,4.9-6.38,4.91s-4.83-2.68-6.41-4.83c-1-1.34-.44-3.87-.44-5.86,0-30.17-.11-60.35.11-90.52,0-4.79-1.59-7.53-5.57-10q-66.12-41.37-132.07-83c-18-11.37-36.12-22.69-54.09-34.18-2.94-1.88-5.17-2-8.15-.07q-74.08,47-148.27,93.85c-13.1,8.29-26.18,16.6-39.37,24.73a7.13,7.13,0,0,0-3.79,6.9c.13,13,.06,26,.06,39,0,1.5.06,3-.06,4.5-.34,4.55-2.92,7.37-6.71,7.13-4.48-.3-6.49-3.17-6.53-7.36-.1-12.67-.17-25.34,0-38,.25-20.88-3-15.38,14.7-26.61q93.91-59.59,188-118.92c3.72-2.35,7.06-3.14,11.08-.6q65.51,41.4,131.11,82.66c22.55,14.22,45.05,28.53,67.67,42.65,4,2.49,5.62,5.55,5.57,10.24C900.44,307,900.56,323.49,900.56,340Z"
      transform="translate(-443.27 -153.36)"
    />
    <path
      d="M713.22,273c-1.28,15.14-7.23,28.65-15.2,41.26-3.29,5.2-10.33,6.76-16.16,3.67-9.39-5-18.78-10.15-27.35-16.37-4.49-3.27-8.09-8.52-10.58-13.61-7.87-16.09,2.92-34.22,20.76-36.08a22.79,22.79,0,0,0,8.57-3.08c8.45-4.85,17.06-5.46,25.81-1.33,9.22,4.34,13.08,12.36,14.13,22A31.42,31.42,0,0,1,713.22,273Zm-37-3.74a10,10,0,0,1-1.65-.56c-6.44-3.93-12-3.68-16.25.74s-4.33,10,.08,16.29a18,18,0,0,0,4.27,4.83c7.22,4.71,14.55,9.27,22,13.54.87.5,3.83-.76,4.36-1.89,3.31-7.06,6.75-14.14,9-21.55,1.31-4.25,1.19-9.24.49-13.71-.81-5.18-5.77-8.52-10.85-8.67s-8.66,2.79-10.5,8.26C676.92,267.47,676.55,268.35,676.2,269.29Z"
      transform="translate(-443.27 -153.36)"
    />
    <path
      d="M591.71,503.16c-3.76-1.57-7.74-2.78-11.22-4.83-2.36-1.4-3.68-1.77-6,.06-6.24,4.86-13.32,5.21-20.26,1.8-7.13-3.51-11.81-9.2-12.34-17.51-.27-4.08,1.13-7.49,5.63-8.06s6.7,2.16,7.21,6.43,3,7.05,7.21,7.85,6.35-2.14,8.19-5.26a43.88,43.88,0,0,1,2.13-3.95,6.43,6.43,0,0,1,10.91.36,23.11,23.11,0,0,1,1.27,2.71c1.74,3.66,4,6.93,8.61,6.13,4.4-.75,6.81-3.67,7.32-8.29.44-4,2.71-6.53,7-6s5.63,3.73,5.64,7.57C613,492.6,603,502.23,591.71,503.16Z"
      transform="translate(-443.27 -153.36)"
    />
    <path
      d="M800,388.05c5.87,2.33,11.5,4.14,16.71,6.78,3.57,1.8,4.42,5.41,2.28,9s-5.57,4.35-9,2.35c-5.93-3.43-11.66-4.07-18-.88a5.31,5.31,0,0,1-7.76-3.17c-.7-2.35-.14-6.73,1.46-7.79C789.84,391.6,794.84,390.21,800,388.05Z"
      transform="translate(-443.27 -153.36)"
    />
    <path
      d="M555.33,449.13c-.17,2.37.37,5.39-.74,7.55a10.33,10.33,0,0,1-6,4.78,5.14,5.14,0,0,1-6.42-4.76,62.09,62.09,0,0,1,.13-15.83c.35-2.05,4-4.88,6.16-4.87s5,2.75,6.17,5S555.17,446.19,555.33,449.13Z"
      transform="translate(-443.27 -153.36)"
    />
    <path
      d="M612.07,448.6A61.52,61.52,0,0,1,612,456c-.45,3.6-2.68,5.62-6.4,5.6s-6.06-2.05-6.31-5.67a117.2,117.2,0,0,1-.07-13.9c.18-3.73,2.19-6.34,6.2-6.4,4.21-.07,6.35,2.44,6.67,6.47.18,2.14,0,4.3,0,6.46Z"
      transform="translate(-443.27 -153.36)"
    />
  </symbol>

  <symbol id="pet-grooming-icon.png" viewBox="0 0 152.79 227.15">
    <path
      d="M686.4,409.09c9.13-2.31,14.81.8,17.4,9.22,2.06,6.68,1.66,13.23-2.15,19.2-4.95,7.76-14.37,7.73-19.23-.09-3.94-6.33-4.77-13.39-1.57-20,1.95-4.06,1.52-7-.52-10.51a83.5,83.5,0,0,1-3.48-7.67c-2.32,5.1-4.41,9.29-6.07,13.64-.41,1.09.52,2.76,1,4.12,2.21,7,2.37,13.8-1.51,20.22-4.91,8.14-14.59,8.25-19.46.13-4.44-7.42-4.39-15.28-.33-22.84,3.36-6.26,8.43-7.62,16.7-4.8,2.18-5.11,4.6-10.19,6.44-15.48.55-1.59-.25-3.85-.92-5.62-5.83-15.55-11.8-31-17.65-46.59-.48-1.3-1-3.57-.41-4.11,2.56-2.26,3.58-.18,4.43,2.09q7.47,19.82,15,39.59c.71,1.85,1.52,3.66,2.69,6.47,1-2.39,1.78-4,2.4-5.58,4.92-12.87,9.76-25.79,14.83-38.61.58-1.47,2.42-2.44,3.68-3.65.15,1.75.89,3.72.34,5.21-5.26,14.34-10.49,28.71-16.28,42.83-2,4.76-2.07,8.77.26,13.18C683.59,402.46,684.87,405.7,686.4,409.09Zm-17.54,16.35c-.11-7-4.09-12.89-8.65-12.72-4.35.17-8.06,5.92-8.18,12.68,0,.34,0,.67,0,1,.37,6.56,4,12.1,8.14,12.34s7.9-4.88,8.6-11.81C668.83,426.43,668.84,425.94,668.86,425.44Zm31.37.07c0-7.35-3.63-12.89-8.33-12.78-4.46.1-8,5.62-8.08,12.58-.08,7.31,3.84,13.59,8.38,13.45S700.25,432.64,700.23,425.51Z"
      transform="translate(-647.42 -257.69)"
    />
    <path
      d="M781,321c-2.83,0-7.47-.08-12.11,0-5.52.13-9.14-2.7-11.45-7.36-1.62-3.27-2.95-6.69-4.24-10.1-1.53-4.09-4.22-6.15-8.72-5.92a108.88,108.88,0,0,1-11,0c-6.37-.33-9.91-4.07-10.38-10.48-.56-7.61-1.23-15.21-2-24.2-13.52,16.58-27.1,31.54-27.29,53.48a54.14,54.14,0,0,1-1,9.43c-.2,1.11-1.52,2-2.33,3-.7-1-2.07-2-2-2.9,1.3-13.86,1.17-28.17,9.7-40.2,6.16-8.69,12.68-17.13,19.29-25.48,1.12-1.42,4.2-3.05,5.12-2.49,1.59.95,2.85,3.47,3.08,5.47.92,7.76,1.5,15.58,2,23.39.27,4.65,2.61,6.51,7,6.42,3.5-.07,7,.05,10.5,0,5.67-.11,9.47,2.56,11.67,7.67.92,2.13,1.72,4.32,2.59,6.48,3.63,8.87,6.58,10.79,16.08,9.53a91.06,91.06,0,0,0,13.07-3.05c7.37-2.12,10.6-.24,11.14,7.26a143.53,143.53,0,0,1,.29,16.46c-.56,13.06-7.69,21.48-19.8,25.26-7.72,2.42-15.84,3.61-23.83,5.09-1.29.24-2.83-.85-4.25-1.33,1.21-1.07,2.28-2.78,3.67-3.1,7.11-1.64,14.46-2.4,21.44-4.46,12.85-3.8,18.55-12,18.7-25.05,0-2.79-.49-4.08-3.7-5.14C788.56,327.42,785.47,324.18,781,321Zm7-2.4-.48,2,6.85,4.44,1.36-1.25c-.61-2.07-.64-4.8-2-6C792.7,317,789.92,318.29,788,318.62Z"
      transform="translate(-647.42 -257.69)"
    />
    <path
      d="M715.3,396c7.63,0,14.59-.16,21.53.1,1.92.08,3.79,1.42,5.69,2.18-2,.72-4,2-6,2.07-6.79.26-13.6.1-21.25.1,0,3.18.11,5.93,0,8.68s1.11,3.78,3.86,3.73c6.33-.12,12.66-.17,19,.06,1.49.06,2.94,1.32,4.4,2-1.42.73-2.83,2-4.28,2.1-6,.24-12,.35-18,0-4.09-.22-5.4,1.32-5,5.16.22,2.11,0,4.27,0,7.25H735c1.33,0,2.79-.33,4,.1s2.39,1.67,3.57,2.55c-1.18.63-2.35,1.77-3.54,1.8-7.63.16-15.27.08-23.3.08v12.27h19c1.34,0,2.76-.3,4,.08a19.29,19.29,0,0,1,3.89,2.28c-1.24.76-2.46,2.13-3.73,2.18-6,.24-12,.11-18,.11h-5.21v12.25h19.14c1.34,0,2.77-.3,4,.08a19.09,19.09,0,0,1,3.84,2.27c-1.25.78-2.48,2.19-3.77,2.24-6,.24-12,.11-18,.11H715.6v12.25c7.57,0,14.86-.13,22.14.1,1.62.06,3.21,1.4,4.81,2.15-1.59.81-3.15,2.28-4.76,2.33-7.49.25-15,0-22.48.14-3.19.06-4.44-1.07-4.43-4.35.08-32,0-64,.09-96,0-6.16,3.73-10,9.92-10.21,6-.24,12-.2,18,.06,1.24.05,2.42,1.57,3.63,2.42-1.3.7-2.58,1.95-3.9,2-5.49.23-11,.17-16.49.08-4.61-.07-6.74,2.25-6.8,6.69C715.26,388.85,715.3,392.13,715.3,396Z"
      transform="translate(-647.42 -257.69)"
    />
  </symbol>
  <symbol id="cat-cafe-icon.png" viewBox="0 0 144.45 170.38">
    <path
      d="M526.52,534.8a30.27,30.27,0,0,1-8.77,4.59c-5.28,1.77-10.63,2.41-16.06.75a24.11,24.11,0,0,1-9-5.49c-4.11-3.71-7.64-7.83-9.68-13.09-4.88-12.58-.74-28.15,9.71-36.25,3.38-2.62,7.12-4.31,11.52-4.08a9.33,9.33,0,0,1,5.86,2.31,6.75,6.75,0,0,1,2.24,7.23,18.15,18.15,0,0,1-1.64,3.63c-.49.9-1.16,1-2.11.57a17.89,17.89,0,0,0-5.82-1.92,7.41,7.41,0,0,0-6.83,2.36,13.77,13.77,0,0,0-3.14,14,25.59,25.59,0,0,0,14.12,16c4.12,1.91,7.81.91,10.59-2.44a1.39,1.39,0,0,0,.27-1.58,40,40,0,0,1-2.21-21.26c1.19-7.68,2.2-15.39,3.3-23.08q1.56-11,3.14-22l2.79-19.75c.94-6.59,1.9-13.17,2.83-19.75.72-5.13,1.36-10.28,2.15-15.4,1.07-7,2.35-14,5.1-20.55.4-1,.85-1.9,1.34-2.82a2.66,2.66,0,0,1,4.6-.62,58.91,58.91,0,0,1,11.58,18.88c.28.72.52,1.46.81,2.18a2.66,2.66,0,0,0,3.27,1.73,63.64,63.64,0,0,1,13.32-1.8,58.86,58.86,0,0,1,13.73,1.7c2.17.5,3.26-.09,4-2.19A55.25,55.25,0,0,1,593.66,384c1.82-2.69,3.86-5.25,5.92-7.77,1.51-1.84,3.63-1.51,4.73.61a48.43,48.43,0,0,1,4.5,13.48c1.16,6.24,2.13,12.52,3.08,18.81s1.77,12.53,2.66,18.8q1.23,8.73,2.48,17.45L619.67,464q1.32,9.28,2.65,18.56c.89,6.24,1.76,12.49,2.66,18.73,2.9,20.18-10,39-28.91,43.26a37,37,0,0,1-8.26.91H552.59a36.4,36.4,0,0,1-25.51-10.12Zm72.3-27.89a20.76,20.76,0,0,1-5.76,5.22,15.71,15.71,0,0,1-1.62.87c-.51.24-.84,0-.8-.57a4.13,4.13,0,0,1,.14-.7,76.71,76.71,0,0,0,2-13.3c.12-2.35.14-4.7.2-7.05,0-1,.38-1.49,1.3-1.63a20,20,0,0,1,7,.21,1.67,1.67,0,0,1,1.51,1.62c.1.81.14,1.64.21,2.42h5.65a24.77,24.77,0,0,0-.8-6.58,3.08,3.08,0,0,0-2.11-2.31,25.15,25.15,0,0,0-12.16-1.19c-.69.1-1-.13-1.06-.81-.15-1.33-.45-2.65-.48-4a2.38,2.38,0,0,0-2.22-2.46,2.79,2.79,0,0,1-.39-.1,73.41,73.41,0,0,0-12.61-1.72,97.76,97.76,0,0,0-21.35.81,58.73,58.73,0,0,0-5.84,1.34,1.47,1.47,0,0,0-1.17,1.43c-.32,3.25-.76,6.48-1,9.73-.15,1.93,0,3.88,0,5.83,4.3.77,6.67,2.68,7.26,6.13.81,4.67-.85,8-5.7,9.16.18.8.31,1.45.47,2.09a55.11,55.11,0,0,0,6.42,16.16,2.25,2.25,0,0,0,2.1,1.2q12.19,0,24.38,0a2.1,2.1,0,0,0,2-1.15c1-2,2.08-3.91,3.05-5.9a2.77,2.77,0,0,1,1.87-1.6A25.86,25.86,0,0,0,603.75,510c.15-.21.27-.44.42-.67C600.86,508.57,600.86,508.57,598.82,506.91ZM569.33,455l.39.63a11.86,11.86,0,0,0,13,5.34,12.32,12.32,0,0,0,9-11.77c0-.93-.5-1.51-1.29-1.54s-1.35.54-1.4,1.5c0,.51-.07,1-.15,1.52a9.32,9.32,0,0,1-8.88,7.91,9.14,9.14,0,0,1-9.23-7.64c-.33-2.2-.14-4.48-.25-6.72-.05-.95.06-1.62,1.16-1.84a2.77,2.77,0,0,0,1.15-.7,2.53,2.53,0,0,0,.05-4,6.12,6.12,0,0,0-7.49,0,2.49,2.49,0,0,0,0,3.86,14.67,14.67,0,0,0,1.85,1.08c.23.14.53.4.53.61,0,2.33.1,4.66-.09,7a9.24,9.24,0,0,1-11.68,8,9.59,9.59,0,0,1-6.76-9.07c0-1-.54-1.53-1.38-1.51a1.39,1.39,0,0,0-1.34,1.57,11.24,11.24,0,0,0,.17,1.84,11.81,11.81,0,0,0,7.63,9.46,11.11,11.11,0,0,0,11.66-1.91A32.72,32.72,0,0,0,569.33,455Zm19.11-26.93a9,9,0,0,0,1.06-3.74,9.48,9.48,0,0,0-1.57-6.4,3.83,3.83,0,0,0-3.89-1.86,4.39,4.39,0,0,0-3.09,2.46,9.84,9.84,0,0,0-1,6.6,27.88,27.88,0,0,0,.84,3C583.61,426.11,585.34,426.11,588.44,428.11Zm-30.86,0a10.31,10.31,0,0,0-.47-10.07c-1.87-2.61-4.78-2.62-6.63,0a9.37,9.37,0,0,0-1.55,6.16,8.84,8.84,0,0,0,1.08,3.94C552.88,426.11,554.2,426.11,557.58,428.08Zm-7.13,8.62c0-.65-.43-.88-1-1l-19.56-4.22c-.65-.14-1.23-.09-1.38.66s.37,1,1,1.14L542,436l7.12,1.54C549.91,437.69,550.44,437.35,550.45,436.7Zm58.62,9.23c.2-.26.6-.55.68-.91.11-.59-.33-.89-.89-1l-13.3-2.88c-2.14-.46-4.28-.95-6.42-1.37a1.5,1.5,0,0,0-1.08.28.87.87,0,0,0-.15.85,2.16,2.16,0,0,0,1.07.69c5.37,1.19,10.74,2.34,16.12,3.5C606.35,445.36,607.6,445.61,609.07,445.93Zm-79.67,0,.16-.14c.16,0,.32,0,.48-.08l15-3.25,4.68-1a.9.9,0,1,0-.33-1.77,4.86,4.86,0,0,0-.55.1l-13.06,2.81-6.41,1.4c-.59.13-1,.5-.78,1.08C528.71,445.4,529.12,445.65,529.4,445.94Zm59.11-8.26.94-.16,14.63-3.16,4.92-1.09a.85.85,0,0,0,.74-1,.87.87,0,0,0-1.07-.72,4,4,0,0,0-.48.08l-14.62,3.15-5,1.1c-.55.13-.88.52-.72,1.06C588,437.22,588.33,437.48,588.51,437.68Zm8,1.67h7c.53,0,1-.11,1-.75s-.44-.8-1-.8H589.79c-.52,0-1,.13-1,.76s.49.79,1.05.79Zm-54.74,0h6.8c.57,0,1.06-.11,1-.79s-.49-.76-1-.76H535c-.56,0-1.07.12-1.05.8s.54.75,1.09.75Z"
      transform="translate(-480.93 -375.06)"
    />
    <path
      d="M570.39,480.92c-5.67-.17-11.34-.27-17-1a22.21,22.21,0,0,1-2.43-.48,1.72,1.72,0,0,1-.56-.39c.15-.19.27-.5.47-.57a29.7,29.7,0,0,1,3.75-1.1,98.3,98.3,0,0,1,20.85-1.07,63.9,63.9,0,0,1,11.61,1.37,16.66,16.66,0,0,1,2.27.73c.22.08.37.34.55.52-.21.17-.4.46-.64.5a40.77,40.77,0,0,1-4.89.78C579.73,480.53,575.06,480.7,570.39,480.92Z"
      transform="translate(-480.93 -375.06)"
    />
  </symbol>
</svg>

<!-- bg-body-tertiary -->
<header class="sticky-top text-body bg-body" data-bs-theme="dark">
  <div class="container">
    <nav class="navbar navbar-expand-lg flex-row-reverse">
      <!-- <a class="navbar-brand" href="#">Pet Finder</a> -->
      <div class="d-flex">
        <% if(!currentUser) {%>

        <button
          type="button"
          onclick="location.href='/auth/login'"
          class="btn btn-sm btn-outline-light me-2"
        >
          Log in
        </button>
        <button
          type="button"
          onclick="location.href='/auth/register'"
          class="btn btn-sm btn-warning"
        >
          Sign up
        </button>
        <% } else {%> <% if(currentUser) {%>
        <p class="my-0 mx-3 d-flex" style="text-transform: capitalize">
          <a
            href="/auth/account/profile"
            class="me-2 mb-md-0 text-white text-decoration-none lh-1"
          >
            <svg
              class="bi"
              width="30"
              height="24"
              fill="#ced4da"
              style="display: block"
            >
              <use xlink:href="#bi-person-circle"></use>
            </svg> </a
          >Hello, <%=currentUser.username %>!
        </p>
        <% } %>
        <a
          href="/auth/logout"
          class="me-2 mb-md-0 text-white text-decoration-none lh-1"
        >
          <svg
            class="bi"
            width="30"
            height="24"
            fill="#ced4da"
            style="display: block"
          >
            <use xlink:href="#bi-box-arrow-right"></use>
          </svg>
        </a>

        <% } %>
      </div>
      <!-- <a class="navbar-brand" href="#">Pet Finder</a> -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
          <a class="nav-link" href="/about">About</a>
          <a class="nav-link" href="/pets">Pets</a>
          <a class="nav-link" href="/pets/report">Report pet</a>
          <a class="nav-link" href="/services">Services</a>
          <!-- <a class="nav-link" href="/services/new">Add Service</a> -->
        </div>
      </div>
    </nav>
  </div>
</header>
